<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.zentry.devdolittle_graph_hr_file_4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="kr.zentry.devdolittle_graph_hr_file_4.common.GlobalApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name_rr"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Moon"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:fullBackupOnly,android:fullBackupContent,android:label,android:icon,android:name">
        <!--<activity
            android:name=".GraphTestActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_oauth_key" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.zentry.devdolittle_graph_hr_file_4.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">


        </activity>
        <activity
            android:name="kr.zentry.devdolittle_graph_hr_file_4.MeasureBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="kr.zentry.devdolittle_graph_hr_file_4.MainBaseActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name="kr.zentry.devdolittle_graph_hr_file_4.common.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="kr.zentry.devdolittle_graph_hr_file_4.thingy.ThingyService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <service
            android:name="kr.zentry.devdolittle_graph_hr_file_4.sound.ThingyMicrophoneService"
            android:exported="false" />
        <service
            android:name="kr.zentry.devdolittle_graph_hr_file_4.thingylib.BaseThingyService"
            android:exported="false" />


    </application>

</manifest>